In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
fraud = pd.read_csv("D:\\excler\\Assignment\\Random Forests\\Fraud_Check.csv")
fraud.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [3]:
fraud["income"]="<=30000"
fraud.loc[fraud["Taxable.Income"]>=30000,"income"]="Good"
fraud.loc[fraud["Taxable.Income"]<=30000,"income"]="Risky"

In [4]:
fraud.drop(["Taxable.Income"],axis=1,inplace=True)

In [5]:
fraud.rename(columns={"Undergrad":"undergrad","Marital.Status":"marital","City.Population":
                      "population","Work.Experience":"experience","Urban":"urban"})

    undergrad   marital  population  experience urban income
0          NO    Single       50047          10   YES   Good
1         YES  Divorced      134075          18   YES   Good
2          NO   Married      160205          30   YES   Good
3         YES    Single      193264          15   YES   Good
4          NO   Married       27533          28    NO   Good
..        ...       ...         ...         ...   ...    ...
595       YES  Divorced       39492           7   YES   Good
596       YES  Divorced       55369           2   YES   Good
597        NO  Divorced      154058           0   YES   Good
598       YES   Married      180083          17    NO   Good
599        NO  Divorced      158137          16    NO   Good

[600 rows x 6 columns]

In [6]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
for column_name in fraud.columns:
    if fraud[column_name].dtype == object:
        fraud[column_name] = le.fit_transform(fraud[column_name])
    else:
        pass

In [7]:
features = fraud.iloc[:,0:5]
labels = fraud.iloc[:,5]

In [8]:
colnames = list(fraud.columns)
predictors = colnames[0:5]
target = colnames[5]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(features,labels,test_size = 0.2,stratify = labels)

In [10]:
from sklearn.ensemble import RandomForestClassifier as RF
model = RF(n_jobs = 3,n_estimators = 15, oob_score = True, criterion = "entropy")
model.fit(x_train,y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:541: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\HP\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:545: RuntimeWarning: invalid value encountered in true_divide
  decision = (predictions[k] /

RandomForestClassifier(criterion='entropy', n_estimators=15, n_jobs=3,
                       oob_score=True)

In [11]:
model.estimators_
model.classes_
model.n_features_
model.n_classes_

2

In [12]:
model.n_outputs_

1

In [13]:
model.oob_score_

0.7208333333333333

In [14]:
prediction = model.predict(x_train)

In [15]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_train,prediction)

In [16]:
np.mean(prediction == y_train)

0.9895833333333334

In [17]:
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(y_train,prediction)

In [18]:
pred_test = model.predict(x_test)

In [19]:
acc_test =accuracy_score(y_test,pred_test)

In [20]:
from sklearn.tree import export_graphviz

In [21]:
import six
import sys
sys.modules['sklearn.externals.six'] = six

In [22]:
from sklearn.externals.six import StringIO

In [23]:
tree = model.estimators_[5]

In [24]:
dot_data = StringIO()
export_graphviz(tree,out_file = dot_data, filled = True,rounded = True, 
                feature_names = predictors ,class_names = target,impurity =False)

In [25]:
import pydotplus
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph